.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 33.3333%;
  background-color: lightblue;
  text-align: center;
  span {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3rem;
  }
}
